@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;

}

body{
    
    background: url('../imagens/fundo-tech-light.jpg');
    background-size: cover;
    background-attachment: fixed;
}


main{
    position: relative;
    height: 100vh;
   
}


div > p{
    text-align: center;
}

.frame-fone {/*iframe do celular*/
    position: absolute;
    top: 50%;
    left: 50%;
    height: 388px;
    width: 189px;
    transform: translate(-53%, -60%);
    background: url('../imagens/tela-iphone-14.png') no-repeat center;
    
}

iframe#tela {
    position: relative;
    top: 3px;
    left: 5px;
    width: 180px; 
    height: 382px;
    border-radius: 27px;
    

   
} 



.links{
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: 1px rgba(0, 0, 0, 0.453) solid;    
    background-color: rgba(255, 255, 255, 0.499);
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -80%);
    
}


.links img{
    
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.links img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.604);
    transition: transform 0.5s, border 1s;
}





