@charset "UTF-8";


@media (orientation: landscape){
   
    .frame-fone{/*corrigir aqui*/
        max-height: auto;
      
   

}   

}


*{
    margin: 0px;
    padding: 0px;
    
}



html, body, main{
    display: flex;
    
}

body{
    position: fixed;/*o fixed desativou a rolagem do elemento na tela*/
    background: url('../imagens/fundo-tech-light.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    
}
div>p{ /*caixa Minhas Redes*/
    width: 120px;
    text-align: center;
    position: absolute;
    top: 24%;
    left: 17%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(109, 107, 107);
    background-color: rgba(255, 255, 255, 0.382);
    border-radius: 10px;
    font-size: 0.8em;
    text-shadow: 0.8px 0.8px rgb(237, 230, 230);
    font-weight: bold;
    border: solid rgba(0, 0, 0, 0.523) 1px;
    padding: 5px;
}

.frame-fone {/*iframe do celular*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 388px;
    width: 189px;
    transform: translate(-53%, -53%);
    background: url('../imagens/tela-iphone-14.png') no-repeat center;
    
}

iframe#tela {
    position: relative; /*mudei de absolute p relative*/
    top: 3px;
    left: 5px;
    /*width: 180px; 
    height: 382px;*/
    border-radius: 27px;
} 

.links{
    position: absolute; /*mudei de relative p absolute*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 130px;
    /*height: 130px;*/
    border: 1px rgba(0, 0, 0, 0.453) solid;    
    background-color: rgba(255, 255, 255, 0.499);
    border-radius: 10%;
    top: 55%;
    left: 50%;
    transform: translate(-52%, -80%);
}


.links img{
    
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.links img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.604);
    transition: transform 0.5s, border 1s;
}

footer{
    position: absolute;
    bottom: 22vh;
    color: rgba(0, 0, 0, 0.43);
    width:100vw;
    text-align: center;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif
    
}



