@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


html, body{
 
    height: 0px;
}

#links > img{
    width: 100vw;
   
}



a{
   
    transform: translate(0%, -28%);
    display: block;
    background-color: darkred; 
    height: 20px;        
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    
    
}

a#return{
    font-size: small;
    background-color: rgba(128, 128, 128, 0.681);
}
